In [26]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [77]:
df=pd.read_csv('student_performance_dataset.csv')

df_co=df.copy()
# df_co.head()

df_co.drop(['Student_ID','Gender','Parental_Education_Level'],axis=1,inplace=True)
df_co.head()

,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,31,68.267841,86,Yes,Yes,63,Pass
1,16,78.222927,73,No,No,50,Fail
2,21,87.525096,74,Yes,No,55,Fail
3,27,92.076483,99,No,No,65,Pass
4,37,98.655517,63,No,Yes,70,Pass

In [81]:
df_co.info()
df_co.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Study_Hours_per_Week        708 non-null    int64
 1   Attendance_Rate             708 non-null    float64
 2   Past_Exam_Scores            708 non-null    int64
 3   Internet_Access_at_Home     708 non-null    object
 4   Extracurricular_Activities  708 non-null    object
 5   Final_Exam_Score            708 non-null    int64
 6   Pass_Fail                   708 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.8+ KB

Study_Hours_per_Week          0
Attendance_Rate               0
Past_Exam_Scores              0
Internet_Access_at_Home       0
Extracurricular_Activities    0
Final_Exam_Score              0
Pass_Fail                     0
dtype: int64

In [84]:
oenc=OrdinalEncoder()
df_co[['Internet_Access_at_Home','Extracurricular_Activities','Pass_Fail']]=oenc.fit_transform(df_co[['Internet_Access_at_Home','Extracurricular_Activities','Pass_Fail']])
df_co.head()

,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,31,68.267841,86,1.0,1.0,63,1.0
1,16,78.222927,73,0.0,0.0,50,0.0
2,21,87.525096,74,1.0,0.0,55,0.0
3,27,92.076483,99,0.0,0.0,65,1.0
4,37,98.655517,63,0.0,1.0,70,1.0